<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ar.com.smg.campania.adapter.mybatis.mappers.CampaniaMapper">

    <select id="getDescuentos" statementType="CALLABLE" 
    parameterType="ar.com.smg.campania.adapter.mybatis.model.DescuentoModel" resultMap="descuentoZonaResult">
        {call afilmed..afs_subcuentas_coti_dto (
            #{tipoCotizador,    jdbcType=INTEGER, mode=IN},
            #{zona,       jdbcType=INTEGER,     mode=IN},
            #{condicion,   jdbcType=VARCHAR,     mode=IN},
            #{fechaCotizacion,jdbcType=TIMESTAMP,     mode=IN},
            #{plan,jdbcType=VARCHAR,     mode=IN},
            #{descuento,jdbcType=NUMERIC,     mode=IN}
        )}
    </select>

    <resultMap id="descuentoZonaResult" type="ar.com.smg.campania.domain.campania.DescuentoZona">
        <result property="zona" column="zona" />
        <result property="condicion" column="cond_afi" />
        <collection property="descuentos" ofType="ar.com.smg.campania.domain.campania.Descuento">
            <result property="cuenta" column="cuenta" />
            <result property="subCuenta" column="subcta" />
            <result property="denominacionSubcuenta" column="deno_subcta" />
            <result property="plan" column="plan_codi" />
            <result property="tarifa" column="tarifa" />
            <result property="porcentajeDescuento" column="porc_dto" />
            <result property="subsi_tipo" column="subsi_tipo" />
            <result property="denominacionSubsidio" column="deno_subsi" />
            <result property="vigenciaDesde" column="vigen_desde" />
            <result property="vigenciaHasta" column="vigen_hasta" />
            <result property="cantidadMeses" column="cuotas" />
        </collection>
    </resultMap>

    <select id="getNotaBonificacion" statementType="CALLABLE" 
    parameterType="ar.com.smg.campania.adapter.mybatis.model.NotaBonificacionModel" resultMap="notaBonificacionResult">
        {call afilmed..afs_subsi_carta_dto (
            #{cuenta,jdbcType=INTEGER, mode=IN},
            #{subcuenta,jdbcType=VARCHAR, mode=IN},
            #{subsiTipo,jdbcType=INTEGER, mode=IN}
        )}
    </select>   

    <resultMap id="notaBonificacionResult" type="ar.com.smg.campania.domain.campania.NotaBonificacion">
        <result property="tipoSubsidio" column="subsi_tipo" />
        <result property="descripcionSubsidio" column="deno_subsi" />
        <result property="nombreCampania" column="deno_subcta" />
        <result property="porcentajeDescuento" column="porc_dto" />
        <result property="cantidadMeses" column="cuotas" />
        <result property="textoBonificacion" column="texto" />
        <result property="rechaMotivo" column="recha_motivo" />
        <result property="rechaDescripcion" column="descr_recha" />
    </resultMap>
</mapper>